<!DOCTYPE html>
<html lang="en-uk">
	{{ partial "head.html" . }}
<body>
<div id="IE">
	<p>You are using Internet Explorer. For best results when using the internet, try one of these instead:</p>
	<p><a href="https://www.google.com/chrome/"><img id="IE-img" src="{{ .Site.BaseURL }}/images/chrome_logo_2x.png" alt="Google Chrome" /></a>&nbsp;<a href="https://www.mozilla.org/en-GB/firefox/new/"><img id="IE-img" src="{{ .Site.BaseURL }}/images/firefox.png" alt="Firefox" /></a>&nbsp;<a href="https://www.opera.com/download"><img id="IE-img" src="{{ .Site.BaseURL }}/images/opera.png" alt="Opera" /></a></p>
	<div id="close">X</div>
</div>
	{{ partial "header.html" . }}
	<div id="home"></div>

	{{ partial "footer.html" . }}
</body>
</html>